.App {
  text-align: center;
  width: 98vw;
  height: 97vh;
}

.container {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orange {
  color: rgb(255, 166, 0);
}

.logo {
  position: absolute;
  margin-left: 1.5rem;
  color: rgb(255, 166, 0);
  top: 0;
  left: 0;
  z-index: 98;
}

.nav {
  position: absolute;
  margin: 1rem;
  top: 0;
  right: 0;
  z-index: 99;
}

.vieo-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.big-video {
  border-radius: 10px;
  z-index: 1;
}

.small-video {
  position: absolute;
  margin: 5px;
  border-radius: 5px;
  z-index: 3;
}

.sketchpad {
  position: absolute;
  z-index: 2;
}

.end-call {
  z-index: 4;
  bottom: 1rem;
  right: 1rem;
}

.save-step {
  z-index: 5;
  bottom: 1rem;
  right: 6rem;
}

.button {
  position: absolute;
  border-radius: 0.3rem;
  padding: 0.5rem;
  color: '#8793a2';
  font-weight: 600;
  border-style: none;
  background-color: #000000;
  box-shadow: 1px 1px 2px #000000 0.9;
  color: #ffffff;
  opacity:  0.3;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #ffffff;
}

.button:hover {
  opacity: 0.4;
  box-shadow: 1px 1px 2px #000000 1;
}
